Source: vconf-internal-keys
Section: devel
Priority: optional
Maintainer: Hakjoo Ko <hakjoo.ko@samsung.com>, Hyungdeuk Kim <hd3.kim@samsung.com>
Uploaders: Hyungdeuk Kim <hd3.kim@samsung.com>, Jaeho Lee <jaeho81.lee@samsung.com>, Genie Kim <daejins.kim@samsung.com>, MyoungJune Park <mj2004.park@samsung.com>, Minjune Kim <sena06.kim@samsung.com>, Guangliang Wang <gliang.wang@samsung.com>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2

Package: vconf-internal-keys-dev
Section: devel
Architecture: any
Description: vconf internal key header file (dev)
